:root {
  --view-size: calc(100vw / 3);
  --square-size: calc(var(--view-size) / 10);
  --water-color: #e6eefb;
  --grid-lines: 0.5px solid rgb(104, 104, 104);
  --miss: white;
  --hit: rgb(255, 133, 133);
}

.menu {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff;
  z-index: 100;
}

.field-wrap {
  display: flex;
  flex-direction: column;
}

.player-form {
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.blind {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.info {
  height: var(--view-size);
  width: calc(var(--view-size) * 0.5);
  border: var(--grid-lines);
  border-radius: 3px;
}

.map {
  height: var(--view-size);
  width: var(--view-size);
  display: flex;
  flex-wrap: wrap;
}

.map-square {
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  border: var(--grid-lines);
  background-color: var(--water-color);
  border-radius: 3px;
}

.own-board {
  height: var(--view-size);
  width: var(--view-size);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.board-square {
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  border: var(--grid-lines);
  background-color: var(--water-color);
  border-radius: 3px;
}

.board-square.ship-unhit {
  background-color: var(--water-color);
}

.board-square.ship-hit {
  background-color: red;
}

.board-square.ship-sunk {
  background-color: #ff6565;
}

.board-square.board-miss {
  background-color: var(--miss);
}

.map-square.map-hit {
  background-color: red;
}

.map-square.map-miss {
  background-color: var(--miss);
}

.map-square.map-sunk {
  background-color: #ff6565;
}

.ship {
  position: absolute;
  border: 2px solid rgb(69, 69, 69);
  background-color: rgba(50, 50, 50, 0.25);
  border-radius: 3px;
  box-sizing: border-box;
}
