:root {
  --view-size: calc(100vw / 3);
  --square-size: calc(var(--view-size) / 10);
}

.test {
  height: 50px;
  width: 50px;
  background-color: red;
}

.board {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.map {
  height: var(--view-size);
  width: var(--view-size);
  display: flex;
  flex-wrap: wrap;
}

.map-square {
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  border: 1px solid black;
  background-color: #009dc4;
}

.own-board {
  height: var(--view-size);
  width: var(--view-size);
  display: flex;
  flex-wrap: wrap;
}

.board-square {
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  border: 1px solid black;
  background-color: #009dc4;
}

.board-square.ship-unhit {
  background-color: #8a8a8a;
}

.board-square.ship-hit {
  background-color: red;
}

.board-square.board-miss {
  background-color: rgb(172, 255, 227);
}

.map-square.map-hit {
  background-color: red;
}

.map-square.map-miss {
  background-color: rgb(172, 255, 227);
}

.map-square.map-sunk {
  background-color: rgb(255, 101, 101);
}
