@font-face {
  font-family: "Rubik Iso";
  src: url("./fonts/Rubik_Iso/RubikIso-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url(./fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url(./fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

:root {
  --view-size: calc(50vw / 3);
  --square-size: calc(var(--view-size) / 10);
  --water-color: #e6eefb;
  --grid-lines: 0.5px solid rgb(104, 104, 104);
  --miss: white;
  --hit: rgb(255, 133, 133);
  --frame-width: 60vw;
  --frame-height: 65vh;
}

body {
  background-repeat: repeat;
  font-family: "PT Sans Narrow";
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("./imgs/bg_tile.png");
  overflow: hidden;
}

.board-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.frame {
  box-sizing: border-box;
  height: var(--frame-height);
  width: var(--frame-width);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}

.menu {
  height: var(--frame-height);
  width: var(--frame-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  z-index: 100;
}

.title {
  width: min-content;
}

.title-text {
  overflow: hidden;
  font-family: "Rubik Iso";
  width: 0 auto;
  font-size: 64px;
  animation: typing 1.5s steps(15, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.board-square.selection-hover-bad {
  background-color: rgb(246, 109, 109);
}

.field-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.p2-wrap {
  display: flex;
  flex-direction: column;
}

.player-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  position: relative;
}

.blind {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.placer-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin: 10px;
}

.place-map > .selection-hover {
  background-color: rgb(143, 255, 143);
}

.info {
  height: 10%;
  width: 75%;
  display: flex;
  flex: 0;
  justify-content: space-between;
  align-items: center;
}

.turn-wrap {
  width: 33%;
  display: flex;
  justify-content: center;
}

.move-wrap {
  width: 33%;
  display: flex;
  justify-content: center;
}

.btn-wrap {
  width: 33%;
  display: flex;
  justify-content: center;
}

.map {
  height: var(--view-size);
  width: var(--view-size);
  display: flex;
  flex-wrap: wrap;
}

.map-square {
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  border: var(--grid-lines);
  background-color: var(--water-color);
  border-radius: 3px;
}

.own-board {
  height: var(--view-size);
  width: var(--view-size);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.board-square {
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  border: var(--grid-lines);
  background-color: var(--water-color);
  border-radius: 3px;
}

.board-square.ship-unhit {
  background-color: var(--water-color);
}

.board-square.ship-hit {
  background-color: red;
}

.board-square.ship-sunk {
  background-color: #ff6565;
}

.board-square.board-miss {
  background-color: var(--miss);
}

.map-square.map-hit {
  background-color: red;
}

.map-square.map-miss {
  background-color: var(--miss);
}

.map-square.map-sunk {
  background-color: #ff6565;
}

.ship {
  position: absolute;
  border: 2px solid rgb(69, 69, 69);
  background-color: rgba(50, 50, 50, 0.25);
  border-radius: 3px;
  box-sizing: border-box;
}

.rotate {
  margin: 10px;
}

#start-button {
  border: var(--grid-lines);
  border-radius: 3px;
  background-color: rgb(252, 252, 252);
  color: black;
  cursor: pointer;
  width: 25%;
}

#start-button:hover {
  background-color: #ff6565;
  color: white;
}

.name-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
